.DS_Store
node_modules
dist/
/docs
tests/e2e/videos/*
tests/e2e/screenshots/*

# local env files
.env.*
cypress.env.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log

.firebase/
.firebaserc
/functions/.runtimeconfig.json
/functions/okr-tracker-backup-2
/functions/backup
firebase-export-metadata.json

# Custom users in test data
/src/mock/users/customUsers.json
.runtimeconfig.json
