{
  "customSyntax": "postcss-scss",
  "plugins": ["stylelint-order", "stylelint-scss"],
  "extends": ["stylelint-config-recommended-scss", "stylelint-config-recommended-vue"],
  "rules": {
    "color-hex-length": "long",
    "indentation": 2,
    "order/properties-order": [],
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "no-descending-specificity": null,
    "scss/no-global-function-names": null,
    "font-family-no-missing-generic-family-keyword": [
      true,
      {
        "ignoreFontFamilies": ["Font Awesome 5 Free"]
      }
    ],
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["v-deep"]
      }
    ]
  }
}
