rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.token.email)).data.admin == true
    }
    
    function isSignedIn() {
      return request.auth.uid != null;
    }
    
    
    
    match /users/{user} {
      allow read: if true;
      allow write: if isSignedIn() && isAdmin();
    }
    
    match /organizations/{document} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && isAdmin();
      allow update: if isSignedIn() && isAdmin();
      allow delete: if isSignedIn() && isAdmin();
    }
    
    match /departments/{document} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && isAdmin();
      allow update: if isSignedIn() && isAdmin();
      allow delete: if isSignedIn() && isAdmin();
    }
    
    match /products/{document} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && isAdmin();
      allow update: if isSignedIn() && isAdmin();
      allow delete: if isSignedIn() && isAdmin();
    }
    
    match /keyResults/{document} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && isAdmin();
      allow update: if isSignedIn() && isAdmin();
      allow delete: if isSignedIn() && isAdmin();
    }
    
    match /objectives/{document} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && isAdmin();
      allow update: if isSignedIn() && isAdmin();
      allow delete: if isSignedIn() && isAdmin();
    }
    
    match /periods/{document} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && isAdmin();
      allow update: if isSignedIn() && isAdmin();
      allow delete: if isSignedIn() && isAdmin();
    }
    
    match /kpis/{document} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && isAdmin();
      allow update: if isSignedIn() && isAdmin();
      allow delete: if isSignedIn() && isAdmin();
    }
    
    
    
    // Allow signed in users to read all data
    match /{document=**} {
      allow read: if false;
      allow write: if false;
    }
    
    
  }
}
