/*
  Based on the `Badge` component for the Origo designsystem.
  https://designsystem.oslo.kommune.no/latest/komponenter/badge/index/
*/
.ods-badge {
  display: inline-flex;
  height: 1.5em;
  padding: 0.25em 0.4em;
  color: black;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 1em;
  background: var(--color-blue-light);
  border-radius: 1px;

  > .fa {
    font-size: 0.6rem;
    margin: 0.05rem 0.25rem 0 0;
  }
}

.ods-badge--strong {
  color: var(--color-blue-light);
  background: var(--color-purple);
}

.ods-badge--info {
  background: var(--color-yellow);
}

.ods-badge--danger {
  background: var(--color-red-light);
}
