@use 'griddle/mixins' as *;
@use 'griddle/functions' as *;

@mixin card() {
  padding: 1.5rem;
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(var(--color-grey-400-rgb), 0.3);

  &--state-line {
    border-left: 4px solid var(--color-grey-400);
  }
  &--success {
    border-color: var(--color-success);
  }
  &--warning {
    border-color: var(--color-warning);
  }
  &--danger {
    border-color: var(--color-danger);
  }
}

.form-wrapper {
  @media screen and (min-width: bp(l)) {
    width: span(7, 0, span(10));
  }

  @media screen and (min-width: bp(xl)) {
    width: span(6, 0, span(10));
  }
}

.form-card {
  @include card();
}

.create-container {
  @include card();
  width: span(12);

  @media screen and (min-width: bp(s)) {
    width: span(8);
    margin-left: span(2, 1);
    padding: 1.5rem;
  }

  @media screen and (min-width: bp(m)) {
    width: span(6);
    margin-left: span(3, 1);
    padding: 1.5rem;
  }

  @media screen and (min-width: bp(l)) {
    width: span(4);
    margin-left: span(4, 1);
    padding: 1.5rem;
  }
}

.search {
  padding: 0;
}
