@use 'griddle/mixins' as *;
@use 'griddle/functions' as *;

.create-container {
  width: span(12);
  padding: 1rem;
  background: white;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(var(--color-grey-400-rgb), 0.3);

  @media screen and (min-width: bp(s)) {
    width: span(8);
    padding: 1.5rem;
  }

  @media screen and (min-width: bp(m)) {
    width: span(5, span(12));
    margin-left: span(3, 1);
    padding: 1.5rem;
  }

  @media screen and (min-width: bp(l)) {
    width: span(8, span(12));
    margin-left: span(2, 1);
    padding: 1.5rem;
  }


  @media screen and (min-width: bp(l)) {
    width: span(4, span(12));
    margin-left: span(3, 1);
    padding: 1.5rem;
  }


  @media screen and (min-width: bp(xl)) {
    width: span(4, span(12));
    margin-left: span(2, 1);
    padding: 1.5rem;
  }
}

.search {
  padding: 0;
}

.form__field {
  width: 100%;
  padding: 1rem;
  font-weight: 500;
  font-size: 1rem;
  background: var(--color-grey-50);
  border: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
