@use 'sass:color';
@use 'griddle/functions' as *;

.ok-alert { // default is "info" as in ODS
  position: relative;
  margin: 0.5rem 0 1rem;
  padding: 1rem;
  overflow: hidden;
  color: var(--color-blue-dark);
  background: var(--color-blue-light-3);
  border-left: 3px solid var(--color-blue-dark);

  @media screen and (min-width: bp(m)) {
    padding-top: 1rem;
    padding-right: 2.5rem;
    padding-left: 1.5rem;
  }
}

.ok-alert--success {
  color: var(--color-green-dark);
  background: var(--color-green-light);
  border-left-color: var(--color-green-dark);
}

.ok-alert--danger {
  color: var(--color-error);
  background: var(--color-red-5);
  border-left-color: var(--color-error);
}

.ok-alert--warning {
  color: var(--color-warning);
  background: var(--color-yellow-5);
  border-left-color: var(--color-yellow);
}
