.button-col {
  display: flex;
  flex-direction: column;
}

.btn {
  display: block;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  color: $color-purple;
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
  text-decoration: none;
  background: $color-grey-100;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn--pri {
  color: $color-purple;
  background: $color-yellow;
}

.btn--icon {
  justify-content: flex-start;

  & > .icon {
    margin-right: 0.35rem;
  }
}

.btn--ter {
  background: none;
  &:hover {
    background: rgba($color-grey-500, 0.1);
  }
}
