.button-col {
  display: flex;
  flex-direction: column;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  margin: 2.5rem -0.25rem -0.25rem;

  > .btn {
    margin: 0.25rem;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  padding: 0.8rem 0.5rem;
  color: var(--color-text);
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
  text-decoration: none;
  background: var(--color-grey-100);
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &:disabled:not([hover]) {
    color: var(--color-grey-500);
    background-color: var(--color-grey-100);
    border: none;
    cursor: not-allowed;
    opacity: 0.6;
    filter: saturate(0.5);
  }
}

.btn--danger {
  color: var(--color-red-dark);
  background: var(--color-red-light);
}

.btn--pri {
  color: var(--color-text-secondary);
  background: var(--color-primary);

  &:hover {
    background-color: var(--color-hover);
  }
}

.btn--sec {
  color: var(--color-text);
  background: none;
  border: 1px solid var(--color-primary);

  &:hover {
    color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
  }
}

.btn--ods {
  color: var(--color-text-secondary);
  background: var(--color-primary);
  border: 1px solid var(--color-white);

}

.btn--icon {
  justify-content: flex-start;
  padding-right: 1rem;
  color: var(--color-text);

  & > .icon {
    margin-right: 0.35rem;
  }
}

.btn--icon-pri {
  color: var(--color-text-secondary);
}

.btn--ter {
  background: none;

  &:hover:not([disabled]) {
    background: rgba(var(--color-grey-500-rgb), 0.1);
  }

  &.btn--negative {
    color: var(--color-white);

    &:hover {
      background: rgba(white, 0.1);
    }
  }
}

.btn--ghost {
  color: var(--color-text);
  background: none;
  border: 1px solid var(--color-primary);

  &.btn--negative {
    color: var(--color-white);
    border-color: var(--color-white);
  }
}

.btn--fw {
  justify-content: center;
  width: 100%;
}
