$color-blue: #6ee9ff;
$color-light-blue: #b3f5ff;
$color-light-blue-2: #b2d2d8;
$color-purple: #292858;
$color-yellow: #f8c66b;
$color-red: #ff8174;
$color-green: #43f8b6;

$color-bg: #f9f9fa;
$color-border: #dae3e5;

$color-grey-50: #f7f7f7;
$color-grey-100: #e1e1e6;
$color-grey-200: #c6c6cc;
$color-grey-300: #adadb3;
$color-grey-400: #939399;
$color-grey-500: #797980;
$color-grey-600: #5e5e66;
$color-grey-700: #43434d;
$color-grey-800: #242433;
$color-grey-900: #0e0e1a;

$color-link: #0075eb;
