@font-face {
  font-display: auto;
  font-family: 'OsloSans';
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
  src: url('./styles/fonts/OsloSans-Regular.woff') format('woff');
}

@font-face {
  font-display: auto;
  font-family: 'OsloSans';
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  src: url('./styles/fonts/OsloSans-Light.woff') format('woff');
}

@font-face {
  font-display: auto;
  font-family: 'OsloSans';
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  src: url('./styles/fonts/OsloSans-Medium.woff') format('woff');
}
