@import 'colors';

input,
select,
option,
textarea {
  width: 100%;
  padding: 0.75rem 0.75rem 0.6rem 0.75rem;
  color: $color-purple;
  font-size: 1rem;
  border: 2.5px solid $color-border;
}

.form-label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.form-group {
  display: block;
  margin-bottom: 1.25rem;

  &--error {
    color: $color-red;
    margin-bottom: 0;
  }
}

.form-help {
  display: block;
  margin-top: -0.25rem;
  margin-bottom: 0.25rem;
  font-size: 0.85rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  height: 3rem;
  padding: 0 1rem;
  color: $color-purple;
  font-weight: 500;
  background: $color-blue;

  border: 0;
  border-radius: 6px;
  cursor: pointer;

  &--ghost {
    background: transparent;
    border: 1px solid $color-purple;
  }

  & + & {
    margin-left: 1rem;
  }

  &--danger {
    color: darken($color-red, 10%);

    // background: lighten($color-red, 20%);
    background: transparent;
    border: 1px solid darken($color-red, 10%);
    border: 1px solid transparent;
  }

  &:disabled {
    color: #aaaaaa;
    background: #dedede;
    cursor: default;
  }
}
