@use 'range-slider' as *;
@use 'typography';

input,
select,
option,
textarea {
  width: 100%;
  padding: 0.5rem;
  color: var(--color-text);
  font-weight: 500;
  font-size: 1rem;
  background: var(--color-white);
  border: 1px solid var(--color-text);

  &:disabled {
    color: var(--color-text);
    background: var(--color-grayscale-10);
    cursor: not-allowed;
  }
}

.form-group {
  display: block;
  margin: 1rem 0;

  &--error {
    .form-input, .vs__dropdown-toggle, .vs__dropdown-menu {
      border-color: var(--color-error);
    }
    .form-label {
      color: var(--color-error);
    }
  }
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-text);

  &--hasPrimaryBackground {
    color: var(--color-text-secondary);
  }
}

.form-field {
  display: block;
  margin-top: 1rem;

  &--error {
    margin-bottom: 0;
    color: var(--color-red);
  }

  &--small {
    max-width: 400px;
  }
}

.form-row {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  align-items: end;
  margin: 1rem 0;

  & .form-group {
    margin: 0;
  }
  .form-field + .form-field {
    margin-left: 1rem;
  }
}

.form-input {
  width: 100%;
  padding: 0.5rem;
  color: var(--color-text);
  font-weight: 500;
  font-size: 1rem;
  background: var(--color-white);
  border: 1px solid var(--color-primary);

  &--readonly {
    background: var(--color-grayscale-10);
  }

  &__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    > .flatpickr-wrapper {
      display: block;
      width: 100%;
    }

    > .btn {
      margin-left: 0;
      font-size: 0.75rem;
      background: var(--color-gray-light);
      border: 1px solid var(--color-primary);
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      cursor: pointer;

      &:hover {
        color: var(--color-text-secondary);
        background-color: var(--color-hover);
      }

      > i.far, i.fas {
        margin: 0 0.25rem;
      }
    }
  }
}

.form-help {
  display: block;
  margin: 0.5rem 0;
  color: var(--color-text);
  font-size: 0.85rem;
  line-height: 1.25;

  &--hasPrimaryBackground {
    color: var(--color-text-secondary);
  }
}

.form__checkbox {
  position: relative;
}

.form-group--checkbox {
  display: flex;
  margin: 1.5rem 0;

  .form__checkbox {
    z-index: 2;
    width: auto;
  }

  .form-label {
    display: block;
    flex-grow: 1;
  }
}

.form-errors {
  margin-top: 1.5rem !important;

  &__list {
    font-size: typography.$font-size-1;
    list-style: square;

    > li {
      margin: 0 1.5rem;

      > span:first-child {
        margin-right: 0.5rem;
        font-weight: 500;
      }
    }
  }
}

.preview-image {
  max-width: 200px;
}

.toggle {
  position: relative;
  display: inline-block;
  grid-area: 1 / 2 / 2 / 3;
  width: 5rem;
  transform: translateY(0.15rem);

  &__input {
    position: absolute;
    left: -999999px;
    width: 0;
    height: 0;
    background: none;

    &:focus ~ .toggle__switch {
      background: var(--color-primary) !important;
      outline: 4px solid var(--color-primary);
    }

    &:checked ~ .toggle__switch {
      background: var(--color-primary);

      &::before {
        left: 1.25rem;
        content: '\f00c';
      }

      &::after {
        content: 'På';
      }
    }
  }

  &__switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 2rem;
    background: var(--color-grayscale-30);
    border-radius: 1rem;
    box-shadow: inset 0 1px 4px rgba(var(--color-grayscale-80-rgb), 0.3);
    transition: all 0.3s ease-in-out;

    &::before {
      position: absolute;
      top: 0.25rem;
      left: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.5rem;
      height: 1.5rem;
      font-weight: 900;

      font-family: 'Font Awesome 5 Free';
      text-align: center;
      background: white;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
      content: '';
    }

    &::after {
      position: absolute;
      top: 0.5rem;
      right: -1.5rem;
      font-weight: 500;
      content: 'Av';
    }
  }

  &__wrapper {
    display: flex;
    align-content: baseline;
  }

  &__label {
    display: inline-block;
    grid-area: 1 / 1 / 2 / 2;
    margin-right: 1rem;
  }
}

.toggle-button {
  &__container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5rem;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--color-text);
  }

  &--disabled {
    .toggle__input:checked ~ .toggle__switch {
      background: var(--color-grayscale-10);
    }

    .toggle__switch {
      background: var(--color-grayscale-10);
      cursor: not-allowed;

      &::before, &::after {
        color: var(--color-grayscale-30);
      }
    }
  }
}

.descriptive-radio {
  margin: 1.5rem 0;

  .title {
    margin-left: 0.25rem;
    font-weight: 500;
  }

  .description {
    display: block;
    margin: 0.25rem 1.75rem 0 1.75rem;
    color: var(--color-grayscale-60);
    font-size: typography.$font-size-1;
    line-height: 1.25;
  }
}
