@import 'colors';
@import './range-slider';

input,
select,
option,
textarea {
  width: 100%;
  padding: 0.75rem 0.75rem 0.6rem 0.75rem;
  color: $color-purple;
  font-weight: 500;
  font-size: 1rem;
  background: $color-grey-50;
  border: 0;
  border-radius: 3px;

  &:disabled {
    color: $color-grey-500;
    background: $color-grey-100;
    cursor: not-allowed;
  }
}

.v-select {
  width: 100%;
  .vs__selected-options {
    padding: 0.25rem !important;
  }

  .vs__dropdown-toggle {
    min-height: 3rem !important;
    background: $color-grey-50;
    border: 0;
  }

  .vs__selected {
    margin-right: 0.25rem;
    padding: 0.25rem 0.75rem !important;
    background: white;
    border-radius: 0 !important;
  }
}

.form-group {
  display: block;
  margin: 1rem 0;
}

.form-label {
  display: block;
  margin-bottom: 0.25rem;
}

.form-field {
  display: block;
  padding: 1rem 0;

  &--error {
    margin-bottom: 0;
    color: $color-red;
  }

  &--small {
    max-width: 400px;
  }
}

.form-row {
  display: flex;
  margin: -1rem 0;

  .form-field + .form-field {
    margin-left: 1rem;
  }
}

.form-help {
  display: block;
  margin-top: -0.25rem;
  margin-bottom: 0.25rem;
  font-size: 0.85rem;
}

.form__checkbox {
  position: relative;
}

.form-group--checkbox {
  display: flex;
  margin: 1.5rem 0;

  .form__checkbox {
    z-index: 2;
    width: auto;
  }

  .form-label {
    display: block;
    flex-grow: 1;
  }
}

.preview-image {
  max-width: 200px;
}
