.grid-3 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, 1fr);

  @media screen and (min-width: 600px) {
    grid-gap: 1rem 2em;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  }
}
