.miller {
  position: absolute;
  display: flex;
  min-width: 100%;
  height: 100%;
  overflow-x: scroll;
  color: var(--color-text);
  background: rgba(var(--color-border-rgb), 0.075);

  &__container {
    position: relative;
    width: 100%;
    min-height: 700px;
    overflow: scroll;
  }

  &__col {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 220px;
    margin-right: -1px;
    border: 1px solid var(--color-border);

    &.active .miller__col__item.active {
      background: var(--color-blue);

      &::after {
        opacity: 0;
      }
    }

    &__header {
      padding: 1rem 1rem;
      font-weight: 500;
      line-height: 1rem;
      background: #eeeeee;
      border-bottom: 1px solid var(--color-border);
    }

    &__item {
      display: block;
      width: 100%;
      padding: 0.5rem 3rem 0.5rem 1rem;
      border-bottom: 1px solid transparent;
      user-select: none;

      &:hover:not(.active) {
        background: rgba(black, 0.03);
        cursor: pointer;
      }

      &.active {
        position: relative;
        font-weight: 500;
        background: rgba(var(--color-blue-rgb), 0.2);

        &::before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          width: 2px;
          background: var(--color-primary);
          content: '';
        }

        &::after {
          position: absolute;
          top: 50%;
          right: 10px;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 6px solid var(--color-primary);
          transform: translateY(-5px);
          content: '';
        }
      }
    }

    &__add {
      margin-bottom: -1px;
      color: var(--color-grayscale-60);
      font-style: italic;
      border-top: 1px solid var(--color-border);
      border-bottom: 1px solid var(--color-border);
    }
  }

  &__main {
    flex-basis: 100%;
    flex-grow: 10;
    min-width: 300px;
    margin-left: -1px;
    padding: 2rem;
    overflow-y: auto;
    background: white;
    border: 1px solid var(--color-border);
  }

  &--list {
    padding: 0;
    list-style-type: none;
  }
}
