@import '../styles/_colors';

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(black, 0.2);
}

.modal {
  z-index: 100;
  display: grid;

  grid-template-areas:
    'header'
    'main'
    'footer';

  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  width: 100%;
  max-width: 50rem;
  margin: 0 0.5rem;
  overflow: hidden;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.45rem rgba(black, 0.5);

  @media screen and (min-width: 1024px) {
    width: 70vw;
    min-width: 700px;
    max-width: 850px;
    min-height: 400px;
  }

  &__empty {
    padding: 2.5rem 2rem;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 0 2rem;
    font-size: 1rem;
    border-bottom: 1px solid $color-border;

    @media screen and (min-width: 1600px) {
      padding: 2rem;
      font-size: 1.5rem;
    }

    .btn {
      margin: 0;
      padding: 0 1.15rem;
    }

    .fa {
      margin: 0;
      font-size: inherit;
    }

    .title-2 {
      display: block;
      margin: 0;
      margin-right: auto;
      font-size: inherit;
    }
  }

  &__main {
    display: grid;
    grid-gap: 0.5rem 0rem;
    grid-template-areas:
      '. title .'
      '. progress .'
      'input slider .'
      'dots dots dots';
    grid-template-rows: minmax(7rem, auto) auto auto auto;
    grid-template-columns: 0 auto 0;
    padding: 1rem 2rem 1rem;

    @media screen and (min-width: 768px) {
      grid-gap: 0.5rem 1.5rem;
      grid-template-columns: 5.5rem auto 5.5rem;
    }

    @media screen and (min-width: 1600px) {
      grid-template-rows: 11rem 2.5rem 6rem 3rem;
      padding: 2.5rem 2rem 2rem;
    }
  }

  &__footer {
    display: flex;
    grid-area: 'footer';
    justify-content: space-evenly;
    padding: 0.25rem 0rem;
    font-size: 12px;
    background: $color-bg;
    border-top: 1px solid $color-border;

    @media screen and (min-width: 768px) {
      font-size: inherit;
    }

    @media screen and (min-width: 1600px) {
      padding: 1rem;
    }

    .btn {
      justify-content: center;
      width: 100%;
      padding: 1em;
      font-size: inherit;
      border-left: 1px solid $color-border;

      &:first-child {
        border-left-color: transparent;
      }
    }
  }
}
