.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background: rgba(black, 0.5);
}

.modal {
  z-index: 100;
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 550px;
  max-height: 100%;
  padding: 1.5rem 1.75rem 1.5rem 1.75rem;
  color: var(--color-text-secondary);
  background-color: var(--color-primary);
  border-radius: 0.8rem;
  box-shadow: 0 0.25rem 0.45rem rgba(black, 0.5);

  &__header {
    display: flex;
    align-items: center;
    font-size: 1rem;

    .btn {
      margin: 0;
      padding: 0 1.15rem;
    }

    .title-2 {
      margin-right: auto;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
    font-size: 12px;
  }
}
