@use "sass:selector";
@use '@oslokommune/punkt-css/dist/scss/abstracts/mixins/breakpoints' as *;

$-module-name: 'nav';
$-base-height: 3rem;
$-base-width: 15rem;
// TODO: Border color should be changed to `--color-gray``
// as soon as new background color is implemented.
$-border-color: var(--color-grayscale-10);

@mixin -menu-item {
  position: relative;
  height: 100%;
  font-size: 0.75em;
  background-color: inherit;

  @include bp('phablet-up') {
    font-size: 1em;
  }

  &__inner {
    display: flex;
    gap: 0.5em;
    align-items: center;
    height: 100%;
    padding: 0 1em;
    color: var(--color-blue-dark);
    font-weight: 400;
  }
}

.#{$-module-name}-bar {
  display: flex;
  height: $-base-height;
  background-color: var(--color-white);
  border-bottom: 1px solid $-border-color;

  > .#{$-module-name}-menu {
    height: 100%;
  }
}

.#{$-module-name}-menu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: $-base-height;
  list-style-type: none;
  background-color: var(--color-white);

  &--vertical {
    flex-direction: column;
    width: $-base-width;
    height: auto;

    > .#{$-module-name}-menu-item {
      height: $-base-height;

      &--dropdown {
        .#{$-module-name}-menu-item__toggle {
          transform: rotate(270deg);
        }

        .#{$-module-name}-menu-item__content {
          top: 0;
          left: 100%;
        }
      }
    }
  }
}

.#{$-module-name}-menu-item {
  @include -menu-item;

  &__inner {
    @at-root a#{&} {
      text-decoration: none;

      &:hover, &:visited {
        color: var(--color-text);
        text-decoration: none;
      }
    }

    &--active {
      font-weight: 500;
    }
  }

  &__icon {
    height: 1.2em;
  }

  &__toggle {
    flex-shrink: 0;
    height: 1.5em;
    margin-left: auto;
  }

  &__content {
    background-color: inherit;
    border: 1px solid $-border-color;

    > .#{$-module-name}-menu--vertical {
      min-width: 100%;
    }
  }

  &--open > .#{$-module-name}-menu-item__inner,
  > .#{$-module-name}-menu-item__inner:hover {
    background-color: var(--color-gray-light);
    cursor: pointer;
  }

  &--dropdown {
    .#{$-module-name}-menu-item__content {
      position: absolute;
      z-index: 99;
      box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.2);
    }
  }

  @at-root .#{$-module-name}-menu--tabs #{&} {
    &__inner--active::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 0.25em;
      background-color: var(--color-active-light);
      content: '';
    }
  }

  @at-root .#{$-module-name}-menu--toggles #{&} {
    display: flex;
    align-items: center;
    margin: 0 0.1em;

    &:first-of-type {
      margin-left: 1em;
    }
    &:last-of-type {
      margin-right: 1em;
    }

    &__inner {
      height: auto;
      padding: 0.5em;

      &--icon-only {
        border-radius: 50%;
      }

      &:hover {
        background-color: var(--color-gray-light);
      }

      &--active,
      &--active:hover {
        background-color: var(--color-blue-light);
      }
    }
  }
}

.#{$-module-name}-menu-text {
  @include -menu-item;

  &__inner {
    gap: 0.25em;
    padding: 0 1em;
  }

  &--strong #{&}__inner {
    font-weight: 500;
  }
}
