@use "sass:selector";

$-module-name: 'nav';
$-base-height: 3rem;
$-base-width: 15rem;
// TODO: Border color should be changed to `--color-gray``
// as soon as new background color is implemented.
$-border-color: var(--color-grayscale-10);

.#{$-module-name}-bar {
  background-color: var(--color-white);
  height: $-base-height;
  border-bottom: 1px solid $-border-color;

  > .#{$-module-name}-menu {
    height: 100%;
  }
}

.#{$-module-name}-menu {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  list-style-type: none;
  height: $-base-height;
  background-color: var(--color-white);

  &--vertical {
    flex-direction: column;
    width: $-base-width;
    height: auto;
    border: 1px solid $-border-color;

    > .#{$-module-name}-menu-item {
      height: $-base-height;

      &:not(:last-of-type) {
        border-bottom: 1px solid $-border-color;
      }

      &--dropdown {
        .#{$-module-name}-menu-item__toggle {
          transform: rotate(270deg);
        }

        .#{$-module-name}-menu-item__content {
          top: 0;
          left: calc(100% + 1px);
        }
      }
    }
  }

  &--tabs {
    > .#{$-module-name}-menu-item
      .#{$-module-name}-menu-item__inner--active::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 0.25rem;
        background-color: var(--color-active-light);
        content: '';
      }
  }
}

.#{$-module-name}-menu-item {
  position: relative;
  height: 100%;
  background-color: inherit;

  &__inner {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    color: var(--color-blue-dark);
    font-weight: 400;
    font-size: 1rem;

    @at-root a#{&} {
      text-decoration: none;
    }

    &--active {
      // Hack to prevent layout shift when overriding
      // `font-weight` for active state. This is an
      // attempt to somewhat emulate `500`.
      text-shadow: .25px 0px .1px, -.25px 0px .1px;
    }
  }

  &__icon {
    height: 1.5rem;
  }

  &__toggle {
    flex-shrink: 0;
    height: 1.5rem;
    margin-left: auto;
  }

  &__content {
    width: 100%;
    top: calc(100% + 1px);
    background-color: inherit;

    @at-root .#{$-module-name}-menu-item--dropdown > #{&} {
      width: auto;
    }
  }

  &--open > .#{$-module-name}-menu-item__inner,
  > .#{$-module-name}-menu-item__inner:hover {
    background-color: var(--color-gray-light);
    cursor: pointer;
  }

  @at-root .#{$-module-name}-menu--horizontal,
  &--dropdown {
    .#{$-module-name}-menu-item__content {
      position: absolute;
      z-index: 99;
      box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.2);
    }
  }

  &--tab {
    .#{$-module-name}-menu-item__inner--active::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 0.25rem;
      background-color: var(--color-active-light);
      content: '';
    }
  }
}
