@import './colors';

.sidebar {
  &-nav {
    margin: -1rem -0.5rem 0;

    &__item {
      display: inline-block;
      width: 100%;
      padding: 0.25rem 0.5rem;
      color: $color-link;
      font-weight: 500;
      border-radius: 0.5rem;
      cursor: pointer;
      user-select: none;

      .fa {
        margin-right: 0.5rem;
      }

      &:hover {
        background: $color-bg;
      }
    }
  }
}
