@use 'griddle/functions' as *;

.tabs {
  position: relative;
  display: flex;
  width: 100%;
  margin: 1.5rem 0;
  padding-bottom: 5px;
  overflow-x: auto;

  &::after {
    position: absolute;
    right: 0;
    bottom: 4px;
    left: 0;
    height: 2px;
    background: var(--color-primary);
    content: '';
  }

  &::-webkit-slider-runnable-track {
    background: blue;
  }

  &::-webkit-scrollbar {
    height: 6px;
    transform: translateY(10px);
  }

  &::-webkit-scrollbar-track {
    background: var(--color-grey-100);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-700);
  }
}

.tab {
  position: relative;
  display: block;
  margin: 0 0.5rem 0 0;
  padding: 0.7rem 1rem;
  color: var(--color-text);
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
  background-color: var(--color-bg-dark);
  border: 0;
  border-bottom: 2px solid transparent;
  cursor: pointer;

  &::after {
    position: absolute;
    right: 0;
    bottom: -3px;
    left: 0;
    height: 1px;
    content: '';
  }

  &.active {
    color: var(--color-text-secondary);
    background-color: var(--color-primary);
  }
}

.tab--right {
  margin-left: auto;
}

.tab__icon {
  display: none !important;
  margin-right: 0.35rem;

  @media screen and (min-width: bp(s)) {
    display: inline !important;
  }
}
