// Styling for Vue Select that somewhat matches the proposed styling for
// dropdown selects in Punkt (see Figma):
//  https://punkt.oslo.kommune.no/3.1/komponenter/select/
//  https://vue-select.org/guide/css.html#available-css-variables-3-18

@use '@oslokommune/punkt-css/dist/scss/abstracts/mixins/typography' as *;

@import 'vue-select/dist/vue-select';

:root {
  --vs-font-size: 16px;
  --vs-border-color: var(--color-blue-dark);
  --vs-border-width: 2px;
  --vs-border-radius: 0;
  --vs-controls-color: var(--color-blue-dark);
  --vs-dropdown-option--active-bg: var(--color-gray-light);
  --vs-dropdown-option--active-color: var(--color-active);
  --vs-dropdown-box-shadow: 0px 5px 30px -10px rgba(0, 0, 0, 0.2);
  --vs-transition-duration: 100ms;
  --vs-disabled-bg: var(--color-gray);
  --vs-disabled-color: var(--color-grayscale-30);
  --vs-disabled-border: var(--color-grayscale-30);
}

.vs__dropdown-toggle {
  min-height: 3.125rem;
}

.vs__dropdown-menu {
  padding: 0;
  border: 0;

  .vs__no-options {
    padding: 1rem;
    color: var(--color-gray-dark);
    font-style: italic;
  }
}

.vs__dropdown-option {
  padding: 0.5rem 1rem;
  color: var(--color-blue-dark);
  line-height: 1.688rem; // 27px

  &--highlight {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.3em;
    color: var(--color-active);
  }
}

.vs__selected {
  top: 5.5px;

  &-options {
    padding: 2px;
  }
}

.vs__search {
  outline: none !important;
}

.vs__deselect {
  margin-left: 0.5rem;

  svg {
    --fg-color: var(--color-blue-dark);
    height: 0.75rem;
  }
}

.vs__open-indicator {
  height: 1.5rem;
}

.v-select {
  &.vs--multiple {
    .vs__selected {
      // Style inspired by the Punkt badge/label.
      @include get-text('pkt-txt-14-medium');
      height: 2.125rem; // 34px
      margin: 4px 4px 0 ;
      padding: 0.25rem 0.5rem;
      background-color: var(--color-beige-light);
      border: 0;

      .pkt-icon {
        min-width: auto;
        min-height: auto;
      }
    }
  }

  &.vs--single {
    &.vs--open {
      .vs__selected {
        color: var(--color-white);
        opacity: 0.6;
      }
    }
  }

  &.vs--open {
    .vs__dropdown-toggle {
      color: var(--color-white);
      background-color: var(--color-active);
      border-color: var(--color-active);
    }

    .vs__open-indicator {
      --fg-color: var(--color-white);
    }
  }

  &.vs--disabled {
    color: var(--color-grayscale-30);
    background-color: var(--color-gray);
    border-color: var(--color-grayscale-30);

    .vs__selected {
      color: var(--vs-disabled-color);
    }
    .vs__actions {
      --fg-color: var(--vs-disabled-color);
    }
    .vs__dropdown-toggle {
      border-color: var(--vs-disabled-border);
    }
  }

  &:focus-within:not(.vs--open) {
    outline: 2px solid var(--color-active);

    .vs__dropdown-toggle {
      border-color: var(--color-active);
    }
    &.vs--single .vs__selected {
      color: var(--color-active);
    }
  }
}
