.details {
  display: flex;
  flex-direction: column;
}

.details__item {
  margin: 0.5rem 0;
  line-height: 1.2rem;
}

.details__item-body {
  display: flex;
}

.details__item-heading {
  padding-bottom: 0.2rem;
}

.details__item-value {
  padding-bottom: 0.5rem;
}

.details__item-icon {
  flex-shrink: 0;
  align-self: flex-start;
  width: 1.5rem;
  margin-top: 0.1rem;
  margin-left: 0.15rem;
}

.widgets {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;

  .widget {
    align-self: flex-start;
    margin-bottom: 0;
  }
}
