@use 'griddle/mixins' as *;
@use 'griddle/functions' as *;

.widget {
  align-self: start;
  width: 100%;
  margin-bottom: 0.5rem;
  color: var(--color-text);
  background: var(--color-white);
}

.widget__header {
  position: relative;
  display: flex;
  align-items: baseline;
  padding: 1rem;
}

.widget__title {
  font-weight: 500;
}

.details {
  display: flex;
  flex-direction: column;
}

.details__item {
  margin: 0.5rem 0;
  line-height: 1.2rem;
}

.details__item-body {
  display: flex;
}

.details__item-heading {
  padding-bottom: 0.2rem;
  color: var(--color-grayscale-30);
}

.details__item-value {
  padding-bottom: 0.5rem;
}

.details__item-icon {
  flex-shrink: 0;
  align-self: flex-start;
  width: 1.5rem;
  margin-top: 0.1rem;
  margin-left: 0.15rem;
}

.widgets {
  display: grid;
  grid-gap: span(0, 1);
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  width: span(12);
  margin-bottom: 1rem;
}

.widget__history {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  padding: 1.5rem 1.75rem;
  background: var(--color-white);
}

.widget__body {
  padding: 0 1rem 1rem;
}
