@use 'griddle/mixins' as *;
@use 'griddle/functions' as *;

.widget {
  align-self: start;
  width: 100%;
  margin-bottom: 0.5rem;
  color: var(--color-text);
  background: var(--color-white);
}

.widget__header {
  position: relative;
  display: flex;
  align-items: baseline;
  padding: 1.5rem;
}

.widget__title {
  font-weight: 500;
  text-transform: uppercase;
  word-break: break-all;
}

.details {
  display: flex;
  flex-direction: column;
}

.details__item {
  margin: 0.5rem 0;
  line-height: 1.2rem;
}

.details__item-body {
  display: flex;
}

.details__item-heading {
  padding-bottom: 0.2rem;
  color: var(--color-grey-300);
}

.details__item-value {
  padding-bottom: 0.5rem;
}

.details__item-icon {
  flex-shrink: 0;
  align-self: flex-start;
  width: 1.5rem;
  margin-top: 0.1rem;
  margin-left: 0.15rem;
}

.widgets {
  display: grid;
  grid-gap: span(0.1, span(12));
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  width: span(12);
  margin-bottom: 1rem;

  @media screen and (min-width: bp(m)) {
    grid-gap: span(0, span(9));
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: bp(l)) {
    grid-gap: span(0, span(10));
  }
}

.widgets__links {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem 0;

  & > .btn {
    width: 100%;
  }
}

.aside--right {
  display: none;
  width: span(2);

  @media screen and (min-width: bp(m)) {
    display: block;
  }
}

.aside--middle {
  width: span(12);
  @media screen and (min-width: bp(m)) {
    display: none;
  }
}

.aside--left {
  display: none;

  @media screen and (min-width: bp(m)) {
    display: block;
    width: span(12);
  }
}

.aside--bottom {
  width: span(12);
  margin-top: 0.5rem;

  @media screen and (min-width: bp(m)) {
    display: none;
  }
}

.aside__link--edit-rights {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 2rem 1.5rem;
  color: var(--color-text);
  text-transform: uppercase;
  background-color: var(--color-secondary);

  &--left {
    @media screen and (min-width: bp(m)) {
      display: none;
    }
  }
}

.widget__back-button {
  display: flex;
  justify-content: space-between;
  width: span(12);
  margin-bottom: 0.5rem;
  padding: 2rem 1.5rem;
  color: var(--color-text);
  font-weight: 500;
  text-transform: uppercase;
  background-color: var(--color-white);

  @media screen and (max-width: bp(s)) {
    display: none;
  }

  &:hover {
    color: var(--color-text-secondary);
    background: var(--color-hover);

    & > .fa-chevron-left {
      margin-right: 2rem;
      transition: margin-right 0.1s ease-in-out 0.1s;
    }
  }
}

.widget__history {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  padding: 1.5rem 1.75rem;
  background: var(--color-white);
}

.widgets--left {
  width: span(12);

  @media screen and (min-width: bp(m)) {
    width: span(2);
  }
}

.widget__body {
  padding: 0 1.5rem 1.5rem;
}
