@import './colors';

$dark-background: #020218;
$dark-border: #262639;
$duration: 10s;

.table {
  width: 100%;
  height: 100%;
  max-height: 100%;
  border-right: 1px solid $color-yellow;
  border-bottom: 1px solid $dark-border;

  td {
    padding-top: 1em;
    padding-right: 3em;
    padding-bottom: 1em;
    padding-left: 1em;
    vertical-align: middle;
    border-top: 1px solid $dark-border;

    &.active {
      background: #1a1a2e;
    }
  }

  .cell--objective {
    width: 25em;
    padding-right: 6em;
    padding-left: 0;
    vertical-align: top;
  }

  .cell--progress-bar {
    padding: 0.25em;
  }

  .cell--indicator-container {
    position: relative;
  }

  .active .active-indicator {
    opacity: 1;
  }

  .active-indicator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0.75em;
    background: $color-yellow;
    transform-origin: 50% 100%;
    opacity: 0;
    animation: scale $duration linear infinite;
  }
}

.dashboard {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-areas:
    'table details'
    'team team';
  grid-template-rows: 1fr 18em;
  grid-template-columns: 3fr 2fr;
  width: 100vw;
  min-width: 1400px;
  height: 100vh;
  min-height: 900px;
  overflow: scroll;
  color: rgba(white, 0.8);
  font-size: 0.6vw;
  line-height: 1.5;
  background: $dark-background;
}

.section {
  &--team {
    grid-area: team;
    border-top: 4px solid rgba(white, 0.05);
  }
  &--table {
    position: relative;
    grid-area: table;
    padding: 3em;
    border-bottom: 2px solid rgba(black, 1);
  }
  &--details {
    grid-area: details;
    padding: 2em 4em;
    border-bottom: 2px solid rgba(black, 1);
  }
}

.objective-title {
  margin: 0.5em 0;
  color: white;
  font-weight: 500;
  font-size: 1.2em;
}

.objective-body {
  color: $color-yellow;
}

@keyframes scale {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

.team {
  &__container {
    display: grid;
    grid-gap: 0em 3em;
    grid-template-areas:
      'image text progress'
      'image team progress';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto 1fr 20em;
    height: 100%;
    padding: 3em;
    background: rgba(white, 0.05);
  }

  &__text {
    grid-area: text;
  }

  &__image {
    grid-area: image;
    width: 12em;
    height: 12em;
    border: 0.5em solid white;
    border-radius: 0.75em;
    box-shadow: 0 1em 1.5em rgba(black, 1);
  }
  &__lead {
    margin: 0;
    font-weight: 500;
    font-size: 2.75em;
    line-height: 1.12;
    opacity: 0.3;
  }
  &__name {
    margin: 0;
    color: $color-yellow;
    font-weight: 500;
    font-size: 2.75em;
    line-height: 1.12;
  }
  &__members {
    grid-area: team;
    align-self: end;
  }
  &__progress {
    grid-area: progress;
    align-self: end;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  &__header {
    // margin-bottom: auto;
  }

  &__lead {
    margin: 1em 0;
    color: $color-yellow;
    font-weight: 500;
    font-size: 1.35em;
  }

  &__title {
    line-height: 1.4;
  }

  &__graph {
    margin-top: auto;

    /deep/ svg text {
      font-size: 1rem;
    }

    /deep/ svg path.valueLine {
      stroke: $color-yellow;
      stroke-width: 3px;
    }
  }
}

.close {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  color: white;
  opacity: 0.1;

  &:hover {
    background: rgba(white, 0.15);
    opacity: 1;
  }

  &::before,
  &::after {
    position: absolute;
    top: 1.25em;
    left: 2.35em;
    width: 0.3em;
    height: 2.5em;
    background: white;
    content: '';
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}
