@import 'reset';
@import 'colors';
@import 'fonts';
@import 'typography';
@import 'buttons';
@import 'tabs';
@import 'forms';
@import 'widgets';
@import 'modal';
@import 'widgets';
@import 'tooltip';
@import 'admin';
@import 'alerts';

@import '~@braid/griddle/scss/griddle-overlay.scss';

html,
body {
  margin: 0;
  font-size: 14px;
}

button,
input,
textarea,
body {
  color: $color-purple;

  font-family: 'OsloSans', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* When mouse is detected, ALL focused elements have outline removed. */

/* You could apply this selector only to buttons, if you wanted. */
body.using-mouse :focus {
  outline: none;
}

*:focus {
  outline: 2px solid $color-link;
}

.toast {
  font-weight: 500 !important;
  font-size: 1rem !important;
}

.table,
.md table {
  width: 100%;
  margin: 2rem 0 1rem;
  border-bottom: 1px solid $color-border;

  th {
    font-weight: 500;
  }

  thead {
    th {
      border-top: none;
    }
  }

  th,
  td {
    height: 3rem;
    padding: 0 0.5rem;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid $color-border;
  }
}

hr {
  height: 1px;
  margin: 1rem 0;
  background: $color-grey-100;
  border: none;
}

.main {
  position: relative;
  width: span(12);
  padding: 1.5rem 0;

  @media screen and (min-width: bp(m)) {
    width: span(9, 0, span(9));
  }

  @media screen and (min-width: bp(l)) {
    width: span(7, 0, span(10));
  }

  @media screen and (min-width: bp(xl)) {
    width: span(7, 0, span(10));
  }
}

.aside {
  position: relative;
  width: span(12);
  margin-top: 0.5rem;

  @media screen and (min-width: bp(m)) {
    width: span(9, 0, span(9));
  }

  @media screen and (min-width: bp(l)) {
    width: span(3, 0, span(10));
    margin-left: span(0, 1, span(10));
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
