@use '@oslokommune/punkt-css/dist/scss/abstracts/variables' with (
  $font-path: '@oslokommune/punkt-assets/dist'
);

@use 'reset';
@use 'widgets';
@use 'nav';
@use 'modal';
@use 'tooltip';

@use '@oslokommune/punkt-css/dist/scss/pkt';

@use 'forms';
@use 'markdown';
@use 'titles';
@use 'vSelect';

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

html,
body,
.app {
  position: fixed;
  width: 100%;
  height: 100%;
  height: 100dvh;
  margin: 0;
  overflow: hidden;
}

button,
input,
textarea,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p + p {
  margin-top: 1em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* When mouse is detected, ALL focused elements, except for Punkt-inputs,
   have outline removed. (Kept for now.) */

/* You could apply this selector only to buttons, if you wanted. */
body.using-mouse :not([class^='pkt-'], [class*=' pkt-']):focus {
  outline: none;
}

*:not([class^='pkt-'], [class*=' pkt-']):focus {
  outline: 2px solid var(--color-active);
}

.toast {
  font-weight: 500 !important;
  font-size: 1rem !important;
}

.table,
.md table {
  width: 100%;
  margin: 1rem 0 1rem;
  border-bottom: 1px solid var(--color-border);

  th {
    font-weight: 500;
  }

  thead {
    th {
      border-top: none;
    }
  }

  th,
  td {
    height: 3rem;
    padding: 0 0.5rem;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid var(--color-border);
  }
}

.card {
  position: relative;
  padding: 1.5rem;
  background: var(--color-gray-light);

  &--danger::after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-left: 4px solid var(--color-red);
    content: '';
    pointer-events: none;
  }
}

:root {
  // Colors that are going to be added in Punkt soon.
  --color-blue-40: #336084;
  --color-blue-dark-15: #b8ccd9;
  --color-blue-dark-40: #4b5283;
  --color-green-40: #207354;
  --color-green-dark-15: #b8d9d4;
  --color-red-100: #4d0800;
  --color-red-20: #fad0cb;
  --color-yellow-70: #966a1c;
  --color-yellow-80: #774c01;

  // Colors in RGB value - add more if needed. SCSS rgba() function
  // can read hex numbers with CSS Variables.
  --color-red-rgb: #{hexToRGB(#ff8274)};
  --color-yellow-rgb: #{hexToRGB(#f9c66b)};
  --color-grayscale-50-rgb: #{hexToRGB(#808080)};
  --color-grayscale-80-rgb: #{hexToRGB(#333333)};

  --color-text: var(--color-blue-dark);
  --color-text-secondary: var(--color-white);
  --color-primary: var(--color-blue-dark);
  --color-secondary: var(--color-blue);
  --color-secondary-light: var(--color-blue-light);
  --color-border: var(--color-gray);
}
