@import 'reset';
@import 'colors';
@import 'fonts';
@import 'typography';
@import 'grid';
@import 'forms';
@import 'page-header';
@import '_sidebar';

html,
body {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* When mouse is detected, ALL focused elements have outline removed. */

/* You could apply this selector only to buttons, if you wanted. */
body.using-mouse :focus {
  outline: none;
}

.container {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 1rem;

  &--sidebar {
    @media screen and (min-width: 768px) {
      display: grid;
      grid-gap: 4rem;
      grid-template-areas: 'sidebar main';
      grid-template-columns: 12rem 1fr;
      // padding: 0 2rem 0 16rem !important;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 0 2rem;
  }
}

.section {
  padding: 0.5rem 0;
}

.content {
  padding: 0.5rem 0;

  &--padding {
    @media screen and (min-width: 768px) {
      margin-top: 1rem;
    }
  }

  &--main {
    grid-area: main;
  }
  &--sidebar {
    grid-area: sidebar;

    @media screen and (min-width: 768px) {
      margin-top: 5.5rem;
    }
  }
}

.narrow {
  max-width: 500px;
}

.row {
  margin: 1.5rem 0;
}

.popout {
  position: absolute;
  top: 3.5rem;
  left: -2rem;
  z-index: 100;
  width: 100%;
  min-width: 320px;
  max-width: 500px;

  margin-bottom: 3rem;

  padding: 2rem;
  background: #fafafa;
  border: 3px solid $color-border;
  box-shadow: 0 0.5rem 1rem rgba(black, 0.2);

  @media screen and (min-width: 400px) {
    min-width: 400px;
  }
}

.sub-nav {
  display: flex;
  width: 100%;
  background: $color-bg;

  &__element {
    position: relative;
    display: inline-block;
    padding: 0.75rem 0.5rem;
    color: $color-purple;

    // outline: 1px solid red

    &.router-link-active {
      // background: $color-blue;

      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 4px;
        background: $color-purple;
        content: '';
      }
    }
  }
}

.card {
  padding: 1.5rem;
  border: 1px solid $color-border;
}

.toast {
  font-weight: 500 !important;
  font-size: 1rem !important;
}

hr {
  height: 5px;
  margin: 1.5rem 0 1rem;
  background: rgba($color-border, 0.3);
  border: none;
}
