@import 'reset';
@import 'fonts';
@import 'typography';
@import 'buttons';
@import 'tabs';
@import 'forms';
@import 'widgets';
@import 'modal';
@import 'tooltip';
@import 'admin';
@import 'alerts';

@import '@braid/griddle/scss/griddle-overlay';

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

html,
body {
  margin: 0;
  font-size: 14px;
}

button,
input,
textarea,
body {
  color: var(--color-text);

  font-family: 'OsloSans', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* When mouse is detected, ALL focused elements have outline removed. */

/* You could apply this selector only to buttons, if you wanted. */
body.using-mouse :focus {
  outline: none;
}

*:focus {
  outline: 2px solid var(--color-link);
}

.toast {
  font-weight: 500 !important;
  font-size: 1rem !important;
}

.table,
.md table {
  width: 100%;
  margin: 2rem 0 1rem;
  border-bottom: 1px solid var(--color-border);

  th {
    font-weight: 500;
  }

  thead {
    th {
      border-top: none;
    }
  }

  th,
  td {
    height: 3rem;
    padding: 0 0.5rem;
    text-align: left;
    vertical-align: middle;
    border-top: 1px solid var(--color-border);
  }
}

hr {
  height: 1px;
  margin: 1rem 0;
  background: var(--color-grey-100);
  border: none;
}

.main {
  position: relative;
  width: span(12);
  padding: 1.5rem 0;

  @media screen and (min-width: bp(m)) {
    width: span(9, 0, span(9));
  }

  @media screen and (min-width: bp(l)) {
    width: span(7, 0, span(10));
  }

  @media screen and (min-width: bp(xl)) {
    width: span(7, 0, span(10));
  }
}

.aside {
  position: relative;
  width: span(12);
  margin-top: 0.5rem;

  @media screen and (min-width: bp(m)) {
    width: span(9, 0, span(9));
  }

  @media screen and (min-width: bp(l)) {
    width: span(3, 0, span(10));
    margin-left: span(0, 1, span(10));
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

:root {
  --color-text: var(--color-purple);
  --color-text-secondary: var(--color-purple);
  --color-primary: var(--color-yellow);
  --color-primary-dark: var(--color-yellow-dark);
  --color-secondary: var(--color-beige);
  --color-tertiary: var(--color-beige-dark);

  --color-danger: #ff8174;
  --color-success: #43f8b6;
  --color-warning: #f8c66b;
  --color-black: #2e2e2e;
  --color-white: #f9f9fa;
  --color-gray: #989898;
  --color-light-gray: #f6f6f6;
  --color-blue: #6ee9ff;
  --color-blue-light: #b3f5ff;
  --color-blue-light-2: #b2d2d8;
  --color-purple: #292858;
  --color-purple-dark: #1f1e43;
  --color-yellow: #f8c66b;
  --color-yellow-dark: #ba944fff;
  --color-red: #ff8174;
  --color-red-dark: #5b0800;
  --color-red-light: #ff988e;
  --color-beige: #f8f0dd;
  --color-beige-dark: #d0bfae;

  --color-green: #43f8b6;
  --color-green-dark: #034b45;
  --color-green-dark-2: #023834;
  --color-green-light: #c7f6c9;

  --color-bg: #f9f9fa;
  --color-border: #dae3e5;

  --color-grey-50: #f7f7f7;
  --color-grey-100: #e1e1e6;
  --color-grey-200: #c6c6cc;
  --color-grey-300: #adadb3;
  --color-grey-400: #939399;
  --color-grey-500: #797980;
  --color-grey-600: #5e5e66;
  --color-grey-700: #43434d;
  --color-grey-800: #242433;
  --color-grey-900: #0e0e1a;

  --color-link: #0075eb;

  // Colors in RGB value - add more if needed. SCSS rgba() function can read hex numbers with CSS Variables
  --color-red-rgb: #{hexToRGB(#ff8174)};
  --color-red-dark-rgb: #{hexToRGB(#5b0800)};
  --color-green-rgb: #{hexToRGB(#43f8b6)};
  --color-green-dark-rgb: #{hexToRGB(#034b45)};
  --color-yellow-rgb: #{hexToRGB(#f8c66b)};
  --color-yellow-dark-rgb: #{hexToRGB(#ba944fff)};
  --color-brue-rgb:  #{hexToRGB(#6ee9ff)};
  --color-purple-rgb: #{hexToRGB(#292858)};
  --color-purple-dark-rgb: #{hexToRGB(#1f1e43)};

  --color-border-rgb: #{hexToRGB(#dae3e5)};
  --color-grey-100-rgb: #{hexToRGB(#e1e1e6)};
  --color-grey-400-rgb: #{hexToRGB(#939399)};
  --color-grey-500-rgb: #{hexToRGB(#797980)};
  --color-grey-800-rgb: #{hexToRGB(#242433)};
}

[data-theme='green'] {
  --color-text: var(--color-green-dark);
  --color-text-secondary: var(--color-white);
  --color-primary: var(--color-green-dark);
  --color-primary-dark: var(--color-green-dark-2);
  --color-secondary: var(--color-green-light);
  --color-tertiary: var(--color-green-dark);
}

[data-theme='blue'] {
  --color-text: var(--color-purple);
  --color-text-secondary: var(--color-white);
  --color-primary: var(--color-purple);
  --color-primary-dark: var(--color-purple-dark);
  --color-secondary: var(--color-blue);
  --color-tertiary: var(--color-purple);
}
