@import './colors';

.page-header {
  height: 30rem;
  text-align: center;

  @media screen and (min-width: 768px) {
    height: 11rem;
    text-align: left;
  }

  background: $color-yellow;

  &--admin {
    color: $color-blue;
    background: $color-purple;
  }

  &--edit {
    color: $color-grey-900;
    background: $color-grey-200;
  }

  &--department {
    color: $color-grey-900;
    background: $color-red;
  }

  &__container {
    display: grid;
    grid-gap: 0.5rem 3rem;

    grid-template-rows: 4rem 3fr 14rem 3rem 1fr;
    grid-template-columns: 1fr;

    @media screen and (min-width: 768px) {
      grid-template-rows: 3rem 2rem 1fr;
      grid-template-columns: 13rem 1fr auto;
    }
  }

  &__name {
    grid-row: 4;

    @media screen and (min-width: 768px) {
      grid-row: 3;
      grid-column: 2 / span 2;
    }

    &--left {
      grid-column: 1 / span 3;
    }
  }

  &__edit {
    grid-row: 2;
    grid-column: 1;
    margin: 0 -0.5rem;
    padding: 1rem 0;

    & > * {
      margin: 0.5rem;
    }

    @media screen and (min-width: 768px) {
      grid-row: 1;
      grid-column: 3;
      padding: 1rem 0;
    }
  }

  &__back {
    display: block;
    grid-row: 1;
    grid-column: 1;
    padding: 1rem 0;

    @media screen and (min-width: 768px) {
      grid-row: 1;
      grid-column: 1 / span 2;
      padding: 1rem 0;
    }
  }

  &__profile-image {
    z-index: 2;
    display: block;
    grid-row: 3;
    grid-column: 1;
    box-sizing: content-box;
    width: 13rem;
    height: 13rem;
    object-fit: cover;
    background: #eeeeee;

    border: 6px solid white;
    box-shadow: 0 3px 5px rgba(black, 0.2);

    @media screen and (min-width: 768px) {
      grid-row: 2;
      grid-column: 1;
      transform: translateX(-6px);
    }
  }
}
