$font-size-0: 0.79rem;
$font-size-1: 0.91px;
$font-size-2: 1em;
$font-size-3: 1.14em;
$font-size-4: 1.36em;
$font-size-5: 1.71em;
$font-size-7: 2.28em;

.title-2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -0.03rem;
}
