// This is stolen from wearebraid/griddle until they release a version that supports @use/@forward rules
// https://github.com/wearebraid/griddle/issues/7
@use 'sass:math';
@use 'variables' as var;

// the calculations below are all based on the values in variables.
// They should not be modified.
// -----------------------------------------------------------------------------
$max-body-width: (var.$column-count * var.$max-column-width) + ((var.$column-count - 1) * var.$max-gutter-width);

$column-decimal: math.div(var.$max-column-width, $max-body-width);
$gutter-decimal: math.div(var.$max-gutter-width, $max-body-width);

$column: $column-decimal * 100%;
$gutter: $gutter-decimal * 100%;

$column-template: repeat(var.$column-count, 1fr);
$column-gap: $gutter;

// place the 'max-body' and 'base' breakpoints at the correct place inside our
// $breakpoints map, and use the previous breakpoint's inset value
// to calculate the appropriate target screen size.
// generates the final breakpoint map between default and user settings
// -----------------------------------------------------------------------------
@function generateBreakpoints() {
  $max-body-inserted: false;
  $calcSize: 0;
  $breakpoints: ();

  @each $bp, $bp-width, $bp-inset in var.$user-breakpoints {
    // now find the correct place to insert the max body breakpoint
    @if $bp-inset != 'auto' {
      $calcSize: $max-body-width + ($bp-inset * 2);

      @if ($calcSize < $bp-width and $max-body-inserted == false) {
        $breakpoints: append($breakpoints, 'max-body' $calcSize auto);
        $max-body-inserted: true;
      }
    } @else if $max-body-inserted == false {
      // if we didn't hit a match before we reached 'auto' inset values then use the
      // latest available values and insert the 'max-body' breakpoint
      $breakpoints: append($breakpoints, 'max-body' $calcSize auto);
      $max-body-inserted: true;
    }

    // append the user breakpoint
    $breakpoints: append($breakpoints, $bp $bp-width $bp-inset);
  }

  @return $breakpoints;
}

$breakpoints: generateBreakpoints();
