name: Deploy to PROD

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      ENV_FILE_PROD:
        required: true
      FIREBASE_PROJECT_ID_PROD:
        required: true
      FIREBASE_SERVICE_ACCOUNT_PROD:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

      - name: Use Node.js 18
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3.6.0
        with:
          node-version: 18

      - name: Populate env file
        run: |
          echo "${{ secrets.ENV_FILE_PROD }}" > .env
          if ! grep -q VITE_PROJECT_ID .env; then
            echo "::error:: The .env file is likely not populated correctly"
            exit 1
          fi

      - name: Populate OpenAPI spec
        run: |
          sed -i -e "s|<host>|${{ secrets.API_GATEWAY_URL_PROD }}|g" public/openapi.yaml

      - name: Build
        run: |
          npm ci
          npm --prefix functions ci functions
          npm run build

      - name: Deploy PROD
        uses: FirebaseExtended/action-hosting-deploy@4d0d0023f1d92b9b7d16dda64b3d7abd2c98974b # v0.7.0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_PROD }}"
          projectId: "${{ secrets.FIREBASE_PROJECT_ID_PROD }}"
          channelId: live
